appdirs==1.4.3
Django==1.8
django-crispy-forms==1.6.1
django-datetime-widget==0.9.3
django-geoposition==0.3.0
django-registration-redux==1.5
olefile==0.44
packaging==16.8
Pillow==4.1.0
pyparsing==2.2.0
pytz==2017.2
six==1.10.0
gunicorn==19.6.0
whitenoise==3.3.0
