{% extends "base.html" %} 
{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
<h1> Appoinement Details </h1>
</br>
  <a class="list-group-item">
    <p class="list-group-item-text">Donor Name: {{appointment.name}}
    </p>
    <p class="list-group-item-text">Time: {{appointment.date_time}}
    </p>
    <p class="list-group-item-text">Phone: {{appointment.phone}}
    </p>
    <p class="list-group-item-text">Email: {{appointment.email}}
    </p>
    <p class="list-group-item-text">Notes: {{appointment.note}}
    </p>
    <p class="list-group-item-text">Charity: {{appointment.charity}}
    </p>
    <p class="list-group-item-text">Location: {{appointment.Location}}
    </p>
  </a>
  <br>
  <br>
  <br>
  <br>


{% endblock %}
