{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

                <div class="tabs tabs-style-bar slideanim">
                    <nav>
                        <ul>
                            <li><a href="#section-bar-1" class="icon icon-box"><span><h2>Available Charities</h2></span></a></li>

                        </ul>
                    </nav>
                </div>
        
<br>
<br>

<body>
<div class="list-group">
{% for c in charities %}
    <a class="list-group-item" href="{% url 'detail' c.pk %}">
      </br>    <span class="badge">
<img src="/static/img/{{c.Logo}}" alt="face" style="width:200px;height:200px;" >
   </span>
</br>
    <h3>{{c.Name}}</h3>
    <h4 style="text-align:left;color:black;" class="list-group-item-heading">About Us:  </br>  {{c.AboutUs}}</h4> ​
    <p style="text-align:left;color:black;" class="list-group-item-text">Phone:  </br>  {{c.Phone}}</p>
    ​ </a>
<br>
  </ul>

</body>
  {% endfor %} {% endblock %}
