{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="contact" id="contact">
			<div class="container">

				<h3>Contact</h3>
				<div class="heading-underline"></div>

				<form class="contact_form slideanim" method="post" action="/contact/">{% csrf_token %}

					<div class="message">
						<div class="col-md-6 col-sm-6 grid_6 c1">

							<input name= "fullname" type="text" class="text" value="Full Name" placeholder="Full Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Full Name';}">

							<input name="email" type="text" class="text" value="Email" placeholder="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">

							<input name="subject" type="text" class="text" value="Subject" placeholder="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}">
						</div>

						<div class="col-md-6 col-sm-6 grid_6 c1">
							<textarea name="message" placeholder="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
						</div>
						<div class="clearfix"></div>
					</div>

					<input name="submitform" type="submit" class="more_btn" value="Send Message">
				</form>

			</div>
</div>
{% endblock %}