{% extends 'Base.html' %}
{% load staticfiles %}
{% block body %}

		<!-- //Container -->

		<!-- Carousel -->
		<div id="myCarousel" class="carousel slide" data-ride="carousel">

			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img class="first-slide" src="{% static 'images/1.jpg' %}" alt="Cubicle">
					<div class="slider-grid-bg">
						<div class="slider-grid-text">
							<h5>Donate Clothes</h5>
							<div class="border"></div>
							<p>“It's not how much we give but how much love we put into giving.” ― Mother Teresa</p>
						</div>
					</div>
				</div>
				<div class="item">
					<img class="second-slide" src="{% static 'images/2.jpg' %}" alt="Cubicle">
					<div class="slider-grid-bg">
						<div class="slider-grid-text">
							<h5>DONATE FOOD</h5>
							<div class="border"></div>
							<p>“No one is useless in this world who lightens the burdens of another.” ― Charles Dickens</p>
						</div>
					</div>
				</div>
				<div class="item">
					<img class="third-slide" src="{% static 'images/3.jpg' %}" alt="Cubicle">
					<div class="slider-grid-bg">
						<div class="slider-grid-text">
							<h5>DONATE MONEY</h5>
							<div class="border"></div>
							<p>“We make a living by what we get. We make a life by what we give.” ― Winston S. Churchill</p>
						</div>
					</div>
				</div>
				<div class="item">
					<img class="fourth-slide" src="{% static 'images/4.jpg' %}" alt="Cubicle">
					<div class="slider-grid-bg">
						<div class="slider-grid-text">
							<h5>DONATE BOOKS</h5>
							<div class="border"></div>
							<p>“A kind gesture can reach a wound that only compassion can heal.” ― Steve Maraboli</p>
						</div>
					</div>
				</div>
				<div class="item">
					<img class="fifth-slide" src="{% static 'images/5.jpg' %}" alt="Cubicle">
					<div class="slider-grid-bg">
						<div class="slider-grid-text">
							<h5>DONATE SCHOOL SUPPLIES</h5>
							<div class="border"></div>
							<p>“A kind gesture can reach a wound that only compassion can heal.” ― Steve Maraboli</p>
						</div>
					</div>
				</div>
			</div>

			<nav class="nav-diamond">
				<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
					<span class="icon-wrap" aria-hidden="true"></span>
					<div class="left-arrow">
						<img src="{% static 'images/hover-left.png' %}" alt="Cubicle"/>
					</div>
				</a>
				<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
					<span class="icon-wrap" aria-hidden="true"></span>
					<div class="right-arrow">
						<img src="{% static 'images/hover-right.png' %}" alt="Cubicle"/>
					</div>
				</a>
			</nav>

		</div>
		<!-- //Carousel -->

	</div>
	<!-- //Header -->

	<!-- Content -->
	<div class="content">

		<!-- Features -->
		<div class="features" id="features">
			<div class="container">

				<h1>OUR GOAL</h1>
				<div class="heading-underline"></div>

				<h2>We do what we <span>love</span> . We <span>love</span>  what we do.</h2>
				<h3>What we <span>Love To Do</span>.</h3>
				<p>Be sure that we know to do a lot.</p>


									</div>
									<div class="clearfix"></div>
								</div>

							</div>
						</div>
		<!-- //Features -->

		<!-- About -->
		<div class="about" id="about">
			<div class="container">

				<h3 class="slideanim">About</h3>
				<div class="heading-underline"></div>

				<p class="slideanim">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
				<div class="social slideanim">
					<ul class="social-icons slideanim">
						<li><a href="#" class="facebook" title="Go to Our Facebook Page"></a></li>
						<li><a href="#" class="twitter" title="Go to Our Twitter Account"></a></li>
						<li><a href="#" class="googleplus" title="Go to Our Google Plus Account"></a></li>
						<li><a href="#" class="instagram" title="Go to Our Instagram Account"></a></li>
						<li><a href="#" class="youtube" title="Go to Our Youtube Channel"></a></li>
					</ul>
				</div>

			</div>
		</div>
		<!-- //About -->

		<!-- Stats -->
		<div class="stats" id="stats">
			<div class="container">

				<h3 class="slideanim">Stats</h3>
				<div class="heading-underline"></div>

				<p class="slideanim">Some of our statistics that shows the process of the website</p>
				<div class="stats-info">
					<div class="col-md-3 col-sm-3 stats-grid slideanim">
						<div class="stats-img">
							<img src="{% static 'images/s2.png' %}" alt="Cubicle">
						</div>
						<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='8' data-delay='.5' data-increment="100">57000</div>
						<p class="stats-info">Orgnization on board</p>
					</div>
					<div class="col-md-3 col-sm-3 stats-grid slideanim">
						<div class="stats-img">
							<img src="{% static 'images/s3.png' %}" alt="Cubicle">
						</div>
						<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='3000' data-max='5000' data-delay='.5' data-increment="5">1700</div>
						<p class="stats-info">Money Donated</p>
					</div>
					<div class="col-md-3 col-sm-3 stats-grid slideanim">
						<div class="stats-img">
							<img src="{% static 'images/s4.png' %}" alt="Cubicle">
						</div>
						<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1000' data-delay='.5' data-increment="100">90000</div>
						<p class="stats-info">Clothes Donated</p>
					</div>
					<div class="col-md-3 col-sm-3 stats-grid slideanim">
						<div class="stats-img">
							<img src="{% static 'images/s5.png' %}" alt="Cubicle">
						</div>
						<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='169' data-delay='.5' data-increment="1">169</div>
						<p class="stats-info">Books Donated</p>
					</div>
					<div class="clearfix"></div>
				</div>

			</div>
		</div>
		<!-- //Stats -->

		<!-- Clients -->
		<div class="clients">
			<div class="container">

				<h3>Our Beloved Clients</h3>
				<div class="heading-underline"></div>

				<!-- Screen-Gallery-Carousel -->
				<div id="owl-demo" class="owl-carousel text-center slideanim">
					<div class="item">
						<img class="lazyOwl" src="{% static 'images/company1.png' %}" alt="Cubicle">
					</div>
					<div class="item">
						<img class="lazyOwl" src="{% static 'images/company2.png' %}" alt="Cubicle">
					</div>
					<div class="item">
						<img class="lazyOwl" src="{% static 'images/company3.png' %}" alt="Cubicle">
					</div>
					<div class="item">
						<img class="lazyOwl" src="{% static 'images/company4.png' %}" alt="Cubicle">
					</div>
					<div class="item">
						<img class="lazyOwl" src="{% static 'images/company5.png' %}" alt="Cubicle">
					</div>
					<div class="item">
						<img class="lazyOwl" src="{% static 'images/company6.png' %}" alt="Cubicle">
					</div>
					<div class="item">
						<img class="lazyOwl" src="{% static 'images/company7.png' %}" alt="Cubicle">
					</div>
					<div class="item">
						<img class="lazyOwl" src="{% static 'images/company8.jpg' %}" alt="Cubicle">
					</div>
				</div>
				<!-- //Screen-Gallery-Carousel -->

			</div>
		</div>
		<!-- Skills -->



		<!-- Map-iFrame -->
		<div class="map slideanim">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13908.11288497577!2d47.97220782237037!3d29.369462879572644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fcf9c83ce455983%3A0xc3ebaef5af09b90e!2sKuwait+City!5e0!3m2!1sen!2skw!4v1492934048527" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
		<!-- //Map-iFrame -->

		<!-- Contact -->
		<div class="contact" id="contact">
			<div class="container">

				<h3>Contact</h3>
				<div class="heading-underline"></div>

				<form class="contact_form slideanim" method="post" action="/contact/">{% csrf_token %}

					<div class="message">
						<div class="col-md-6 col-sm-6 grid_6 c1">

							<input name= "fullname" type="text" class="text" value="Full Name" placeholder="Full Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Full Name';}">

							<input name="email" type="text" class="text" value="Email" placeholder="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">

							<input name="subject" type="text" class="text" value="Subject" placeholder="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}">
						</div>

						<div class="col-md-6 col-sm-6 grid_6 c1">
							<textarea name="message" placeholder="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
						</div>
						<div class="clearfix"></div>
					</div>

					<input name="submitform" type="submit" class="more_btn" value="Send Message">
				</form>

			</div>
		</div>
		<!-- //Contact -->

	</div>
	<!-- //Content -->


<!-- Custom-JavaScript-File-Links -->
	<!-- Supportive-JavaScript --> <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<!-- Necessary-JavaScript-File-For-Bootstrap --> <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

	<!-- Slideanim-JavaScript -->
	<script type="text/javascript">
		$(window).scroll(function() {
	 		$(".slideanim").each(function(){
				var pos = $(this).offset().top;
				var winTop = $(window).scrollTop();
					if (pos < winTop + 600) {
					$(this).addClass("slide");
				}
			});
		});
	</script>
	<!-- //Slideanim-JavaScript -->

	<!-- Gallery-Tab-JavaScript -->
	<script src="{% static 'js/cbpFWTabs.js' %}"></script>
	<script>
		(function() {
			[].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
				new CBPFWTabs( el );
			});
		})();
	</script>
	<!-- //Gallery-Tab-JavaScript -->

	<!-- Swipe-Box-JavaScript -->
		<script src="{% static 'js/jquery.swipebox.min.js' %}"></script>
			<script type="text/javascript">
				jQuery(function($) {
					$(".swipebox").swipebox();
				});
		</script>
	<!-- //Swipe-Box-JavaScript -->

	<!-- Owl-Carousel-JavaScript -->
	<script src="{% static 'js/owl.carousel.js' %}"></script>
	<script>
		$(document).ready(function() {
			$("#owl-demo").owlCarousel ({
				items : 8,
				lazyLoad : true,
				autoPlay : true,
				speed: 900,
				pagination : false,
			});
		});
	</script>
	<!-- //Owl-Carousel-JavaScript -->

	<!-- Slide-To-Top JavaScript (No-Need-To-Change) -->
	<script type="text/javascript">
		$(document).ready(function() {
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 100,
				easingType: 'linear'
			};
			$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 0;"> </span></a>
	<!-- //Slide-To-Top JavaScript -->

	<!-- Smooth-Scrolling-JavaScript -->
	<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll, .navbar li a, .footer li a").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //Smooth-Scrolling-JavaScript -->

	<!-- Skills-Animation-JavaScript -->
	<script type="text/javascript" src="{% static 'js/jquery.inview.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/mousescroll.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
	<!-- //Skills-Animation-JavaScript -->

	<script type="text/javascript" src="{% static 'js/numscroller-1.0.js' %}"></script>

<!-- //Custom-JavaScript-File-Links -->

<!-- Images are for reference and illustration puropse only. Images were taken from https://pixabay.com and icons were taken from www.flaticon.com and Portfolio section images were the sceenshots of templates by http://w3layouts.com -->
<!-- Flaticon Links:
	Icons made by "http://www.freepik.com" from "http://www.flaticon.com" is licensed by "http://creativecommons.org/licenses/by/3.0/" CC 3.0. BY
-->


{% endblock %}