{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Activated" %}{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

                <div class="tabs tabs-style-bar slideanim">
                    <nav>
                        <ul>
                            <li><a href="#section-bar-1" class="icon icon-box"><span>Activation</span></a></li>

                        </ul>
                    </nav>
                </div>
        
<br>
<br>
<br>
    
		<p class="text-center">
		    {% trans "Your account is now activated." %}
		    {% if not user.is_authenticated %}
		    {% trans "You can log in." %}
		    {% endif %}
		</p>

<br>
<br>
<br>
<br>
{% endblock %}


{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
