{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Approval Failure" %}{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

                <div class="tabs tabs-style-bar slideanim">
                    <nav>
                        <ul>
                            <li><a href="#section-bar-1" class="icon icon-box"><span>Account Approval</span></a></li>

                        </ul>
                    </nav>
                </div>
        
<br>
<br>
<br>
    

<p class="text-center">{% trans "Account Approval failed." %}</p>
<br>
<br>
<br>
{% endblock %}


{% comment %}
**registration/admin_approve.html**

Used if account activation fails. With the default setup, has the following context:

``activation_key``
    The activation key used during the activation attempt.
{% endcomment %}
