{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Approved" %}{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

                <div class="tabs tabs-style-bar slideanim">
                    <nav>
                        <ul>
                            <li><a href="#section-bar-1" class="icon icon-box"><span>Account Approval</span></a></li>

                        </ul>
                    </nav>
                </div>
        
<br>
<br>
<br>

<p class="text-center">
    {% trans "The user's account is now approved." %}
</p>
<br>
<br>
<br>
{% endblock %}


{% comment %}
**registration/admin_approve_complete.html**

Used after admin successfully approves a user's account. This template has no context
variables of its own, and should simply inform the admin that the user's
account is now active.
{% endcomment %}
