{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
        
                <div class="tabs tabs-style-bar slideanim">
                    <nav>
                        <ul>
                            <li><a href="#section-bar-1" class="icon icon-box"><span>Rest Password</span></a></li>

                        </ul>
                    </nav>

        </div>
        
<br>
<br>
<br>
<p class="text-center">
    {% trans "Your password has been reset!" %}
    {% blocktrans %}You may now <a href="{{ login_url }}">log in</a>{% endblocktrans %}.

</p>
<br>
<br>
<br>
{% endblock %}


{# This is used by django.contrib.auth #}
