{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
        
                <div class="tabs tabs-style-bar slideanim">
                    <nav>
                        <ul>
                            <li><a href="#section-bar-1" class="icon icon-box"><span>Rest Password</span></a></li>

                        </ul>
                    </nav>

        </div>
        
<br>
<br>
<div class='row'>
	<div class='col-md-4 col-md-offset-4'>
		<p class="text-center">
		    {% blocktrans %}
		    Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
		    {% endblocktrans %}
		</p>
		<br>
		<form method="post" action="">
		    {% csrf_token %}
		    {{ form|crispy }}
		    <input type="submit" class="btn btn-sm btn-default" value="{% trans 'Reset password' %}" />
		</form>
	</div>
</div>
<br>
<br>
{% endblock %}


{# This is used by django.contrib.auth #}
