{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password changed" %}{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
        
                <div class="tabs tabs-style-bar slideanim">
                    <nav>
                        <ul>
                            <li><a href="#section-bar-1" class="icon icon-box"><span>Change Password</span></a></li>

                        </ul>
                    </nav>

        </div>
        
<br>
<br>
<br>
<p class="text-center">{% trans "Password successfully changed!" %}</p>
<br>
<br>
<br>
{% endblock %}


{# This is used by django.contrib.auth #}
