{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
        
                <div class="tabs tabs-style-bar slideanim">
                    <nav>
                        <ul>
                            <li><a href="#section-bar-1" class="icon icon-box"><span>Register</span></a></li>

                        </ul>
                    </nav>

        </div>
        
<br>
<br>
<div class='row'>
    <div class='col-md-4 col-md-offset-4'>
        <div class="center-block">
        		<form method="post" action="">
        		    {% csrf_token %}
        		    {{ form|crispy }}
        		    <input type="submit" class="btn btn-sm btn-default" value="{% trans 'Submit' %}" />
        		</form>
                <br>
                <hr>
                <br>
                <p class="text-center">{% trans "Already a member?" %} <a href="{% url 'auth_login' %}">{% trans "Login Here" %}</a>.</p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}