{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Activation Resent" %}{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

                <div class="tabs tabs-style-bar slideanim">
                    <nav>
                        <ul>
                            <li><a href="#section-bar-1" class="icon icon-box"><span>Resend Activation</span></a></li>

                        </ul>
                    </nav>
                </div>
        
<br>
<br>
<br>
<p class="text-center">
  {% blocktrans %}
  We have sent an email to {{ email }} with further instructions.
  {% endblocktrans %}
</p>
<br>
<br>
<br>
{% endblock %}


{% comment %}
**registration/resend_activation_complete.html**
Used after form for resending account activation is submitted. By default has
the following context:

``email``
    The email address submitted in the resend activation form.
{% endcomment %}
